#calendar-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 400px;
  width: 600px;
  border-style: double;
  border-color: crimson;
  margin: 20px;
  overflow: auto;
  box-shadow: 3px 3px grey;
}

.race-list-item {
  height: 250px;
  width: 600px;
  border-bottom: 1px solid black;
}

button:hover {
  color: crimson;
}

span {
  color: steelblue;
}
